build/
target/
tests/
lib/
docs/cargo/.rustc_info.json
docs/cargo/CACHEDIR.TAG
docs/cargo/.rustdoc_fingerprint.json
docs/cargo/debug
release/goto.exe
release/goto
temp/
**.lock
Cargo.lock
