build/
target/
tests/
.build/
lib/

docs/cargo/.rustc_info.json
docs/cargo/CACHEDIR.TAG
docs/cargo/.rustdoc_fingerprint.json
docs/cargo/debug

release/goto*
release/crgt*

**.lock
**/.*
**.TAG
